.main-container {
    border: 9px solid yellow;
    height: 382px;
    width: 410px;
    margin-top: 95px;
    margin-left: 456px;
    padding: 60px;
}
.title h1{
    padding:10px;
}
div h1 {
    /* margin-left: 13px; */
    background-color: black;
    color: white;
    margin-right: 9px;
    text-align: center;
}
.sub-container p{
    border: 12px solid black;
    padding: 10px;
    text-align: center;
    background-color: #bfb7b7;
}